/*VARIABLES*/

$tipografia-general: roboto, sans-serif;
$letra-grande: 50 px;
$letra-chica: 20 px;
$color-letra: antiquewhite; 


$color-principal: blanchedalmond;
$color-fondo: rgba(181, 137, 73, 0.471);

$map-estilos: ( /*se va a utilizar en footer y header*/
    color: rgba(255, 140, 0, 0.701),
    centro: center,
    1rem: 1rem,
)

